[user]
user_id = "user_id"
password = "user_password"
account = "account_id"
pfx_filepath = "pfx_path"
pfx_password = "pfx_password"

[trading_hours]
start_time = "08:30"
end_time = "13:30"
interval_seconds = 30

[order]
symbol = "2330"
price = 2000
quantity = 1
side = "Buy"
market = "TSE"
order_board = "RoundLot"
funding_type = "Cash"
order_type = "Limit"
time_in_force = "ROD"
daytrade_shortsell = "False"

[api]
url = ""
broker_name = ""
